<%= provide(:title, "Home Page") %>
<h1>Guide Application</h1>

<p>Current application is a drive application for Blue Cell Project, providing a test app for trying ruby and rails features  for learning perpose</p>

<p>In the  current application we implement  architectural and programming paterns that should be used accross the other applications that we develop</p>

 <%=  link_to 'Go to Guide Application', new_user_session_path %>